<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('restaurant_index') }}">Restaurants</a>
        </li>
      </ul>
      <ul class="navbar-nav  d-flex" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
        {% if app.user %}
          <a class="nav-link" href="{{ path('user_show', {'id':  app.user.id} )}}"><img src="{{ asset('/images/navbar/icon-user.png') }}" width="20"/></a>
        {% else %}
          <a class="nav-link" href="{{ path('app_login')}}"><img src="{{ asset('/images/navbar/icon-user.png') }}" width="20"/></a>
        {% endif %}
        </li>
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout')}}"><img src="{{ asset('/images/navbar/icon-deconexion.png') }}" width="20"/></a>
          </li>
        {% endif %}
      {#<li class="nav-item">
          <a class="nav-link" href="{{ path('panier') }}"><img src="{{ asset('/images/navbar/icon-caddie.png') }}" width="20"/></a>
        </li>#}
      </ul>
    
    </div>
  </div>
</nav>